/*---Load---*/

@font-face {
	font-family: 'D';
	src: url(/font/DotGothic16-Regular.ttf) format('opentype');
}

/*---Animation---*/

.anim-box.popup.is-animated {
	animation: popup 1s cubic-bezier(0.22, 2, 0.36, 1) 1 forwards;
}

@keyframes popup {
	0% {
		transform: translateY(-30px) scale(1.05);
		opacity: 0;
	}
	100% {
		transform: translateY(30px) scale(1);
	}
	80%, 100% {
		opacity: 1;
	}
}

.anim-box.popup.is-animated-circle {
	animation: popup-circle 2s cubic-bezier(0.22, 2, 0.36, 1) 1 forwards;
}

@keyframes popup-circle {
	0% {
		transform: translateY(30px) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
	}
	80%, 100% {
		opacity: 1;
	}
}

/*---Main---*/

body {
	font-family: 'D';
	background-color: hsla(215, 100%, 97%, 1);
	background-image: radial-gradient(at 21% 71%, hsla(252, 100%, 86%, 1) 0px, transparent 50%), radial-gradient(at 68% 10%, hsla(224, 100%, 86%, 1) 0px, transparent 50%), radial-gradient(at 16% 7%, hsla(224, 100%, 86%, 1) 0px, transparent 50%), radial-gradient(at 90% 81%, hsla(268, 100%, 87%, 1) 0px, transparent 50%);
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	height: 100vh;
	overflow: hidden;
}

.container {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 100%;
	margin: auto;
}

.circle0 {
	position: absolute;
	top: 420px;
	left: 0px;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(at 0% 0%, hsla(191, 100%, 96%, 1) 0px, transparent 40%), radial-gradient(at 50% 50%, rgb(234, 176, 255) 0px, transparent 100%);
	border-radius: 50%;
	color: #fff;
	text-align: center;
}

.circle1 {
	position: absolute;
	top: 480px;
	left: 90px;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(at 0% 0%, hsla(191, 100%, 96%, 1) 0px, transparent 40%), radial-gradient(at 50% 50%, rgb(234, 176, 255) 0px, transparent 100%);
	border-radius: 50%;
	color: #fff;
	text-align: center;
}

.circle2 {
	position: absolute;
	top: 65px;
	left: 700px;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(at 0% 0%, hsla(191, 100%, 96%, 1) 0px, transparent 40%), radial-gradient(at 50% 50%, rgb(234, 176, 255) 0px, transparent 100%);
	border-radius: 50%;
	color: #fff;
	text-align: center;
}

.circle3 {
	position: absolute;
	top: 15px;
	left: 620px;
	transform: translate(-50%, -50%);
	width: 70px;
	height: 70px;
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(at 0% 0%, hsla(191, 100%, 96%, 1) 0px, transparent 40%), radial-gradient(at 50% 50%, rgb(234, 176, 255) 0px, transparent 100%);
	border-radius: 50%;
	color: #fff;
	text-align: center;
}

.base {
	display: grid;
	margin: 0px;
	gap: 10px;
	margin: auto;
	padding: 0px 50px 50px 50px;
	width: auto;
	height: auto;
	background-color: rgba(190, 136, 255, 0.23);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	line-height: normal;
}

.main-nav {
	display: flex;
	font-size: 20px;
	height: 64px;
	margin-left: -50px;
}

ul {
	padding-left: 20px;
}

.nav-item {
	align-items: center;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

.gaimoch, .illust, .source {
	color: #ffffff;
	line-height: normal;
	margin-left: 10px;
	transition: .5s;
}

.gaimoch:hover, .illust:hover, .source:hover {
	color: #ba80ff;
}

.intro-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.intro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	width: 600px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.28);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	margin: 0px;
	padding: 0px;
}

.name {
	flex-flow: column;
	display: flex;
}

.avatar {
	width: 150px;
}

h1 {
	color: #ba80ff;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
	text-align: left;
}

p {
	color: #ba80ff;
	text-align: left;
	font-size: 20px;
	margin: 0px;
	font-weight: normal;
}

.url {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.sns-icon {
	width: 35px;
}

.twitter {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	gap: 10px;
	height: 60px;
	width: 60px;
	background-color: rgba(0, 195, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transition: .5s;
}

.twitter:hover {
	transform: scale(1.1,1.1);
	background-color: rgba(97, 217, 255, 0.3);
}

.twitter:active {
	position: relative;
	top: 2px;
}

.instagram {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	gap: 10px;
	height: 60px;
	width: 60px;
	background-color: rgba(255, 0, 239, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transition: .5s;
}

.instagram:hover {
	transform: scale(1.1,1.1);
	background-color: rgba(255, 129, 247, 0.3);
}

.instagram:active {
	position: relative;
	top: 2px;
}

.github {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	gap: 10px;
	height: 60px;
	width: 60px;
	background-color: rgba(0, 52, 255, 0.22);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transition: .5s;
}

.github:hover {
	transform: scale(1.1,1.1);
	background-color: rgba(135, 159, 255, 0.3);
}

.github:active {
	position: relative;
	top: 2px;
}

.zenn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	gap: 10px;
	height: 60px;
	width: 60px;
	background-color: rgba(0, 195, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transition: .5s;
}

.zenn:hover {
	transform: scale(1.1,1.1);
	background-color: rgba(97, 217, 255, 0.3);
}

.zenn:active {
	position: relative;
	top: 2px;
}

/*---Media query---*/

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	.container {
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.circle0 {
		top: 480px;
		left: 50px;
		transform: translate(-50%, -50%);
	}
	.circle1 {
		top: 520px;
		left: 150px;
		transform: translate(-50%, -50%);
	}
	.circle2 {
		top: 50px;
		left: 700px;
		transform: translate(-50%, -50%);
	}
	.circle3 {
		top: 15px;
		left: 615px;
		transform: translate(-50%, -50%);
	}
	.base {
		width: auto;
		margin: 0px;
		padding: 15px 20px 20px 20px;
		gap: 20px;
	}
	.main-nav {
		flex-direction: column;
		justify-content: center;
		height: 40px;
		margin: 0px;
	}
	ul {
		padding-left: 0px;
		margin: 0px;
	}
	.nav-item {
		margin-bottom: 10px;
		margin: 0px;
		font-size: 18px;
	}
	.name {
		text-align: center;
	}
	.intro {
		width: auto;
		margin: 0px 30px 30px 30px;
		padding: 20px;
	}
}

@media (max-width: 480px) {
	.anim-box.popup.is-animated-circle {
		animation: popup-circle 2s cubic-bezier(0.22, 2, 0.36, 1) 1 forwards;
	}
	@keyframes popup-circle {
		0% {
			transform: translateY(30px) scale(0.8);
			opacity: 0;
		}
		100% {
			transform: translateY(0) scale(1);
		}
		80%, 100% {
			opacity: 1;
		}
	}
	body {
		font-size: 14px;
	}
	.container {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.circle0 {
		top: 310px;
		left: 20px;
		transform: translate(-50%, -50%);
	}
	.circle1 {
		top: 350px;
		left: 120px;
		transform: translate(-50%, -50%);
	}
	.circle2 {
		top: 55px;
		left: 350px;
		transform: translate(-50%, -50%);
	}
	.circle3 {
		top: 20px;
		left: 265px;
		transform: translate(-50%, -50%);
	}
	.base {
		width: 87%;
		max-width: 400px;
		height: auto;
		margin: auto;
		padding: 10px 15px 15px 15px;
		gap: 10px;
	}
	.main-nav {
		flex-direction: row;
		justify-content: center;
		height: 33px;
		margin: 0px;
	}
	ul {
		padding-left: 0px;
	}
	.nav-item {
		margin-bottom: 10px;
		font-size: 19px;
	}
	.name {
		text-align: center;
	}
	.avatar {
		width: 100px;
	}
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 17px;
	}
	.gaimoch {
		margin: 0px;
	}
	.intro-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.intro {
		width: auto;
		height: auto;
		margin: 0px;
		padding: 30px 0px 30px 0px;
	}
	.url {
		flex-direction: row;
		gap: 20px;
	}
	.sns-icon {
		height: 30px;
		width: 30px;
	}
	.twitter, .instagram, .github, .zenn {
		height: 50px;
		width: 50px;
	}
}