@media screen and (max-width: 480px) {
    .profile {
        width: 80%;
        margin-top: 40px;
        padding: 40px 20px 40px 20px;
        .profile-main {
            flex-direction: column;
            img {
                &:hover {
                    transform: scale(2, 1);
                }
            }
            .name {
                display: flex;
                flex-direction: column;
                margin: 0px;
                text-align: center;
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
        .sns {
            flex-wrap: wrap;
            padding: 0px 20px 0px 20px;
            gap: 20px;
        }
    }
    .articles {
        width: 80%;
        margin-bottom: 70px;
        padding: 30px 20px 30px 20px;
        .articles-main {
            h2 {
                text-indent: 23px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}
