.articles {
	display: grid;
	justify-items: center;
	background-color: rgba(186, 63, 255, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	backdrop-filter: blur(3px);
	box-shadow: 30px 40px 20px 0 rgba(133, 99, 255, 0.28);
	width: 85%;
	height: auto;
	padding: 35px 20px 40px 20px;
	margin: auto;
	gap: 20px;
	.articles-main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.date-container {
			display: flex;
			margin: 0px;
			gap: 10px;
			p {
				text-align: left;
				margin: 0px;
			}
			img {
				&.zenn {
					width: 30px;
					height: 30px;
				}
			}
		}
		h2 {
			background-color: rgba(190, 111, 255, 0.4);
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-right-color: rgba(255, 255, 255, 0.2);
			border-bottom-color: rgba(255, 255, 255, 0.2);
			border-radius: 37px;
			backdrop-filter: blur(3px);
			box-shadow: 10px 20px 20px 0 rgba(133, 99, 255, 0.28);
			font-size: 35px;
			text-indent: 25px;
			width: 200px;
			color: $articles-text;
			text-shadow: $articles-text-shadow 2px 4px;
			margin: 0px;
			margin-bottom: 10px;
			padding: 3px;
			transition: .5s;
			&:hover {
				transform: scale(1.06, 1.06);
			}
			&:active {
				transform: scale(0.9, 0.9);
			}
		}
		p {
			margin: 0px;
			text-align: left;
			text-indent: 0px;
			text-shadow: $articles-text-shadow 1px 2.5px;
		}
		ul {
			display: flex;
			flex-flow: column;
			margin: auto;
			padding: 0px;
			gap: 20px;
		}
		li {
			list-style: none;
			margin: 0px;
		}
		a {
			background-color: rgba(190, 111, 255, 0.4);
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-right-color: rgba(255, 255, 255, 0.2);
			border-bottom-color: rgba(255, 255, 255, 0.2);
			border-radius: 37px;
			backdrop-filter: blur(3px);
			box-shadow: 10px 20px 20px 0 rgba(133, 99, 255, 0.28);
			text-indent: 25px;
			display: flex;
			flex-direction: column;
			margin: 0px;
			padding: 10px 25px 10px 25px;
			font-size: 20px;
			color: $articles-text;
			text-decoration: none;
			transition: .5s;
			&:hover {
				transform: scale(1.03, 1.03);
			}
			&:active {
				transform: scale(0.95, 0.95);
			}
		}
	}
}
