.profile {
	display: grid;
	background-color: rgba(148, 74, 255, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	backdrop-filter: blur(3px);
	box-shadow: 30px 40px 20px 0 rgba(133, 99, 255, 0.28);
	width: 60%;
	height: auto;
	padding: 40px 20px 40px 20px;
	margin: auto;
	margin-top: 90px;
	gap: 20px;
	.profile-main {
		display: flex;
		align-items: center;
		margin: auto;
		img {
			width: auto;
			height: 80px;
			transition: .5s;
			&:hover {
				transform: scale(1.5);
			}
			&:active {
				transform: scale(3, 1);
			}
		}
		.name {
			margin-left: 20px;
			h1 {
				font-size: 50px;
				color: $profile;
				margin: auto;
			}
			p {
				font-size: 20px;
				color: $profile;
				margin: auto;
			}
		}
	}
	.sns {
		display: flex;
		justify-content: center;
		margin: auto;
		gap: 20px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			width: 60px;
			height: 60px;
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-right-color: rgba(255, 255, 255, 0.2);
			border-bottom-color: rgba(255, 255, 255, 0.2);
			border-radius: 50%;
			box-shadow: 20px 30px 20px 0 rgba(133, 99, 255, 0.28);
			transition: .5s;
			img {
				width: 50%;
				height: 50%;
			}
			&:hover {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.8, 0.8);
			}
			&.twitter {
				img {
					width: auto;
					height: 25px;
				}
				background-color: rgba(0, 195, 255, 0.4);
				&:hover {
					background-color: rgba(0, 195, 255, 0.6);
				}
			}
			&.instagram {
				background-color: rgba(255, 112, 245, 0.5);
				&:hover {
					background-color: rgba(255, 112, 245, 0.7);
				}
			}
			&.github {
				background-color: rgba(0, 52, 255, 0.2);
				&:hover {
					background-color: rgba(0, 51, 255, 0.27);
				}
			}
			&.zenn {
				background-color: rgba(0, 195, 255, 0.4);
				&:hover {
					background-color: rgba(0, 195, 255, 0.6);
				}
			}
			&.pixiv {
				background-color: rgba(0, 153, 255, 0.4);
				img {
					width: 70%;
					height: 70%;
				}
				&:hover {
					background-color: rgba(0, 153, 255, 0.6);
				}
			}
		}
	}
}
