$profile: #673dff;
$articles: #8f23fb;

@font-face {
	font-family: 'D';
	src: url(/font/DotGothic16-Regular.ttf) format('opentype');
}

@import 'animation';
@import 'background';
@import 'profile';
@import 'articles';
@import '480px';
