$profile: #a245ff;
$articles: #a040ff;

@font-face {
	font-family: 'D';
	font-display: swap;
	src: url(/font/DotGothic16-Regular.ttf) format('opentype');
}

@import 'animation';
@import 'background';
@import 'profile';
@import 'articles';
@import '480px';
