@font-face {
  font-family: "D";
  font-display: swap;
  src: url(/font/DotGothic16-Regular.ttf) format("opentype");
}
.anim-box.popup.is-animated {
  animation: popup 1s cubic-bezier(0.1, 0.1, 0.1, 1) 1 forwards;
}

@keyframes popup {
  0% {
    transform: translateY(100px) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
  }
  80%, 100% {
    opacity: 1;
  }
}
body {
  font-family: "D";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgb(203, 189, 255);
  background: linear-gradient(180deg, rgb(203, 189, 255) 0%, rgb(193, 176, 255) 100%);
  margin: 0px;
}

.tile {
  background-image: linear-gradient(0deg, transparent calc(99% - 1px), #d9bfff calc(100% - 1px)), linear-gradient(90deg, transparent calc(99% - 1px), #d9bfff calc(100% - 1px));
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100vh;
}

.container {
  display: grid;
  align-content: start;
  max-width: 850px;
  margin: auto;
  gap: 50px;
}

.profile {
  display: grid;
  background-color: rgba(148, 74, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 30px 40px 20px 0 rgba(133, 99, 255, 0.28);
  width: 60%;
  height: auto;
  padding: 40px 20px 40px 20px;
  margin: auto;
  margin-top: 90px;
  gap: 20px;
}
.profile .profile-main {
  display: flex;
  align-items: center;
  margin: auto;
}
.profile .profile-main img {
  width: auto;
  height: 80px;
  transition: 0.5s;
}
.profile .profile-main img:hover {
  transform: scale(1.5);
}
.profile .profile-main img:active {
  transform: scale(3, 1);
}
.profile .profile-main .name {
  margin-left: 20px;
}
.profile .profile-main .name h1 {
  font-size: 50px;
  color: #a245ff;
  text-shadow: #c284ff 2px 4px;
  margin: auto;
}
.profile .profile-main .name p {
  font-size: 20px;
  color: #a245ff;
  text-shadow: #c284ff 1px 2.5px;
  margin: auto;
}
.profile .sns {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
}
.profile .sns a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 20px 30px 20px 0 rgba(133, 99, 255, 0.28);
  transition: 0.5s;
}
.profile .sns a img {
  width: 50%;
  height: 50%;
}
.profile .sns a:hover {
  transform: scale(1.1);
}
.profile .sns a:active {
  transform: scale(0.8, 0.8);
}
.profile .sns a.twitter {
  background-color: rgba(0, 195, 255, 0.4);
}
.profile .sns a.twitter img {
  width: auto;
  height: 25px;
}
.profile .sns a.twitter:hover {
  background-color: rgba(0, 195, 255, 0.6);
}
.profile .sns a.instagram {
  background-color: rgba(255, 112, 245, 0.5);
}
.profile .sns a.instagram:hover {
  background-color: rgba(255, 112, 245, 0.7);
}
.profile .sns a.github {
  background-color: rgba(0, 52, 255, 0.2);
}
.profile .sns a.github:hover {
  background-color: rgba(0, 51, 255, 0.27);
}
.profile .sns a.zenn {
  background-color: rgba(0, 195, 255, 0.4);
}
.profile .sns a.zenn:hover {
  background-color: rgba(0, 195, 255, 0.6);
}
.profile .sns a.pixiv {
  background-color: rgba(0, 153, 255, 0.4);
}
.profile .sns a.pixiv img {
  width: 70%;
  height: 70%;
}
.profile .sns a.pixiv:hover {
  background-color: rgba(0, 153, 255, 0.6);
}

.articles {
  display: grid;
  justify-items: center;
  background-color: rgba(186, 63, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 30px 40px 20px 0 rgba(133, 99, 255, 0.28);
  width: 85%;
  height: auto;
  padding: 35px 20px 40px 20px;
  margin: auto;
  gap: 20px;
}
.articles .articles-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.articles .articles-main .date-container {
  display: flex;
  margin: 0px;
  gap: 10px;
}
.articles .articles-main .date-container p {
  text-align: left;
  margin: 0px;
}
.articles .articles-main .date-container img.zenn {
  width: 30px;
  height: 30px;
}
.articles .articles-main h2 {
  background-color: rgba(190, 111, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 37px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 10px 20px 20px 0 rgba(133, 99, 255, 0.28);
  font-size: 35px;
  text-indent: 25px;
  width: 200px;
  color: #a040ff;
  text-shadow: #bc75ff 2px 4px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 3px;
  transition: 0.5s;
}
.articles .articles-main h2:hover {
  transform: scale(1.06, 1.06);
}
.articles .articles-main h2:active {
  transform: scale(0.9, 0.9);
}
.articles .articles-main p {
  margin: 0px;
  text-align: left;
  text-indent: 0px;
  text-shadow: #bc75ff 1px 2.5px;
}
.articles .articles-main ul {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 0px;
  gap: 20px;
}
.articles .articles-main li {
  list-style: none;
  margin: 0px;
}
.articles .articles-main a {
  background-color: rgba(190, 111, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 37px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 10px 20px 20px 0 rgba(133, 99, 255, 0.28);
  text-indent: 25px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px 25px 10px 25px;
  font-size: 20px;
  color: #a040ff;
  text-decoration: none;
  transition: 0.5s;
}
.articles .articles-main a:hover {
  transform: scale(1.03, 1.03);
}
.articles .articles-main a:active {
  transform: scale(0.95, 0.95);
}

@media screen and (max-width: 480px) {
  .profile {
    width: 80%;
    margin-top: 40px;
    padding: 40px 20px 40px 20px;
  }
  .profile .profile-main {
    flex-direction: column;
  }
  .profile .profile-main img:hover {
    transform: scale(2, 1);
  }
  .profile .profile-main .name {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
  }
  .profile .profile-main .name h1 {
    font-size: 40px;
  }
  .profile .profile-main .name p {
    font-size: 20px;
  }
  .profile .sns {
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
    gap: 20px;
  }
  .articles {
    width: 80%;
    margin-bottom: 70px;
    padding: 30px 20px 30px 20px;
  }
  .articles .articles-main h2 {
    text-indent: 23px;
  }
  .articles .articles-main p {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */