$profile-text: #a245ff;
$profile-text-shadow: #c284ff;
$articles-text: #a040ff;
$articles-text-shadow: #bc75ff;

@font-face {
	font-family: 'D';
	font-display: swap;
	src: url(/font/DotGothic16-Regular.ttf) format('opentype');
}

@import 'animation';
@import 'background';
@import 'profile';
@import 'articles';
@import '480px';
